@model IEnumerable<memeCoinWebApp.Models.Message>

@{
    ViewData["Title"] = "Details";
}

<h1>Chat with @ViewData["Sender"]</h1>

<div>
    @foreach (var item in Model) {
        <div class="border p-3">
            <div>
                <p class="m-1 text-muted">@item.Sender</p>
                <p class="m-1 text-muted">@item.Timestamp</p>
            </div>
            <div>
                <p class="m-1 fs-5">@item.Content</p>
            </div>
        </div>
    }
</div>
<form asp-action="Create" method="post" asp-route-sender="@TempData["PhoneNumber"]" asp-route-recipient="@ViewData["Sender"]">
    <input name="content" class="form-control mt-3 mb-2" placeholder="New message" />
    <input type="submit" value="Send" class="btn btn-primary mb-3" />
</form>
<a asp-action="Index" asp-route-phoneNumber="@TempData["PhoneNumber"]">Back to Chats</a>
