@model IEnumerable<memeCoinWebApp.Models.Message>

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Details" asp-route-phoneNumber="@TempData["PhoneNumber"]" class="row align-items-center">
    <div class="col-auto">
        <label class="control-label">Start chat with:</label>
    </div>
    <div class="col-auto">
        <input name="senderPhoneNumber" class="form-control" />
    </div>
    <div class="col-auto">
        <input type="submit" value="Start" class="btn btn-primary" />
    </div>
</form>

<h1>Your chats</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                Unread message(s)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sender)
            </td>
        @if (!item.Seen)
        {
            <td class="text-danger">
                *
            </td>
        }
        else
        {
            <td></td>
        }
            <td>
                <a asp-action="Details" asp-route-phoneNumber="@item.UserPhoneNumber" asp-route-senderPhoneNumber="@item.Sender">Open chat</a>
            </td>
        </tr>
}
    </tbody>
</table>
