@model IEnumerable<memeCoinWebApp.Models.Transfer>

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Create" class="row align-items-center">
    <div class="col-auto">
        <label class="control-label">Amount to transfer:</label>
    </div>
    <div class="col-auto">
        <input name="Amount" class="form-control"/>
    </div>
    <div class="col-auto">
        <label class="control-label">Destination:</label>
    </div>
    <div class="col-auto">
        <input name="Destination" class="form-control"/>
    </div>
    <div class="col-auto">
        <input type="submit" value="Transfer" class="btn btn-primary"/>
    </div>
    <div class="col-auto">
        <a asp-action="Index" asp-controller="Home" asp-route-PhoneNumber="@TempData["PhoneNumber"]" class="btn btn-outline-secondary ml-2">Back</a>
    </div>
        <input type="hidden" name="Source" value="@TempData["PhoneNumber"]"/>
</form>

<h1>Your transfers</h1>
<div class="d-flex justify-content-between align-items-center">
    <form class="d-flex" asp-action="Index" asp-route-phoneNumber="@TempData["PhoneNumber"]">
        <div class="m-2">
            <label>Start date</label>
            <input type="text" class="form-control" name="startDate">
        </div>
        <div class="m-2">
            <label>End date</label>
            <input type="text" class="form-control" name="endDate">
        </div>
        <div class="m-2">
            <label>Minimum amount</label>
            <input type="text" class="form-control" name="minAmount">
        </div>
        <div class="m-2">
            <label>Maximum amount</label>
            <input type="text" class="form-control" name="maxAmount">
        </div>
        <div class="m-2">
            <label>Source</label>
            <input type="text" class="form-control" name="source">
        </div>
        <div class="m-2">
            <label>Destination</label>
            <input type="text" class="form-control" name="destination">
        </div>
        <div class="m-2">
            <button type="submit" class="btn btn-primary">Apply filter</button>
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Amount</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fund in Model)
        {
            <tr>
                <td>@fund.Id</td>
                <td>@fund.Source</td>
                <td>@fund.Destination</td>
                <td>$@fund.Amount</td>
                <td>@fund.Timestamp</td>
            </tr>
        }
    </tbody>
</table>
